
@media only screen and (max-width: 767px) {
    div {
      border: solid 1px;
      font-size: 180%;
      text-align: center;
    }
    header div {
      width: 48rem;
      height: 7.5rem;
      line-height: 7.5rem;
      border-bottom: none;
      float: none;
      background-color: #685f5e;
    }
   
    #b{
      width: 48rem;
      height: 15rem;
      line-height: 15rem;
      border-bottom: none;
      float:none;
      background-color: #e1eb5c;
    }
    #c, #d {
      width: 48rem;
      height: 12.5rem;
      line-height: 12.5rem;
      float: none;
      clear: both;
    }
    #c {
      background-color: #13110d;
    }
    #d {
      border-top: none;
      background-color: #56cec8;
    }
    #e {
      width: 24rem;
      height: 25rem;
      float: left;
      background-color: #74b9ff;
      border-left: none;
      border-top: none;
      line-height: 25rem;
    }
    #f {
      width: 24rem;
      height: 25rem;
      float: left;
      clear: right;
      background-color: #e4619e;
      border-left: none;
      border-top: none;
      line-height: 25rem;
    }
    #g {
      width: 24rem;
      height: 25rem;
      clear: left;
      float: left;
      background-color: #7bdb73;
      border-left: none;
      border-top: none;
      line-height: 25rem;
    }
    #h {
      width: 24rem;
      height: 25rem;
      float: left;
      background-color: #272623;
      border-left: none;
      border-top: none;
      line-height: 25rem;
    }
    #i{
      width: 48rem;
      height: 8rem;
      line-height: 8rem;
      float: none;
      clear:both;
      background-color: #e1e1e1;
      border-left: none;
      border-top: none;
      line-height: 25rem;
    }
  }
  
  @media only screen and (min-width: 767px) {
    div {
      border: solid 1px;
      font-size: 180%;
      text-align: center;
    }
  
    #e, #f, #g, #h, #i {
      border-left: none;
      border-top: none;
    }
    header {
      width: 100%;
    }
  
    header div {
      width: 96rem;
      height: 10rem;
      border-bottom: none;
      background-color: var(--div-background-color);
    }
  
    #b {
      width: 20rem;
      height: 60rem;
      float: left;
      background-color: #c1d5e2;
    }
  
  
    #c{
      width: 38rem;
      height: 20rem;
      float: left;
      border-left: none;
      background-color: #5e573d;
    }
  
    #d {
      width: 38rem;
      height: 20rem;
      float:left;
      border-left: none;
      background-color: #e2d5cd;
    }
  
  
    #e {
      width: 19rem;
      height: 25rem;
      float: left;
      background-color: #795cad;
    }
  
    #f {
      width: 19rem;
      height: 25rem;
      float: left;
      background-color: #b2c6d3;
    }
  
    #g {
      width: 19rem;
      height: 25rem;
      float:left;
      background-color: #2f3338;
    }
  
    #h {
      width: 19rem;
      height: 25rem;
      float: left;
      background-color: #474443;
    }
  
  
  
    #i {
      width: 76rem;
      height: 15rem;
      float: left;
      background-color: #303322;
    }
  }